body {
  background-color: #add8e6;
}

.circle {
  background-color: grey;
  border: 10px solid grey;
  border-radius: 50%;
  height:500px;
  width:500px;
  margin: 25px auto;
  position:relative;
 }
.inner-circle {
  background-color: #fff;
  border: 10px solid grey;
  border-radius: 50%;
  height:220px;
  width:220px;
  margin: 127px auto;
  z-index:50;
 }
}
 h1 {
  font-size:55px;
 }

 .colors {
  height:238px;
  width:238px;
  border: 5px solid grey;
 }


 ul {
  list-style: none;
  padding: 0;
  margin: 0;
 }
li {
  display:inline-block;
  padding:0;
  margin:0;
}
 .red {
  background-color: red;
  border-radius: 0 110% 0 0;
 }


 .blue{
  background-color: blue;
    border-radius:  0 0 110% 0;
 }

 .yellow {
  background-color: yellow;
    border-radius: 0 0 0 110%;
 }

 .green {
  background-color: green;
  border-radius: 110% 0 0 0;
 }