body {
  background-color: #add8e6;
}

.circle {
  background-color: black;
  border: 10px solid grey;
  border-radius: 50%;
  height:500px;
  width:500px;
  margin: 25px auto;
 }
.inner-circle {
  background-color: #fff;
  border: 10px solid grey;
  border-radius: 50%;
  height:220px;
  width:220px;
  margin: 127px auto;
 }
}
 h1 {
  font-size:55px;
 }